name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  mix_test:
    name: Test (Erlang/OTP ${{matrix.otp}} | Elixir ${{matrix.elixir}})
    runs-on: ubuntu-latest
    container: hexpm/elixir:${{ matrix.elixir }}-erlang-${{ matrix.otp }}-alpine-3.11.6
    strategy:
      fail-fast: false
      matrix:
        include:
          - elixir: 1.7.4
            otp: 19.3.6.13
          - elixir: 1.8.2
            otp: 20.3.8.26
          - elixir: 1.9.4
            otp: 20.3.8.26
          - elixir: 1.10.3
            otp: 21.3.8.16
          - elixir: 1.11.2
            otp: 21.3.8.16
          - elixir: 1.11.2
            otp: 23.0.2
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - run: mix test

  mix_credo:
    name: Run credo
    runs-on: ubuntu-latest
    container: hexpm/elixir:${{ matrix.elixir }}-erlang-${{ matrix.otp }}-alpine-3.11.6
    strategy:
      matrix:
        include:
          - elixir: 1.11.2
            otp: 23.0.2
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - run: mix credo --strict

  check_formatted:
    name: Check formatted
    runs-on: ubuntu-latest
    container: hexpm/elixir:${{ matrix.elixir }}-erlang-${{ matrix.otp }}-alpine-3.11.6
    strategy:
      matrix:
        include:
          - elixir: 1.11.2
            otp: 23.0.2
    steps:
      - uses: actions/checkout@v2.3.4
      - run: mix format --check-formatted
